.container {
  background: gray;
  color: rgb(0, 179, 250);
  text-align: center;
  height: 200px;
}
.btn {
  background: gray;
  color: white;
}
h2 {
  position: relative;
  top: 50px;
}
form {
  width: 79%;
  text-align: center;
  position: relative;
  left: 150px;
  color: white;
}
body {
  background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
tr {
  color: white;
  /* background: black; */
  position: relative;

}
.table {
  width: 79%;
  position: relative;
  left: 150px;
  margin-top: 50px;
}
